BOT_TOKEN=your_telegram_bot_token
MONGODB_URI=your_mongodb_atlas_connection_string
BOT_USERNAME=new_bot_username
ADMIN_USERNAME=new_admin_username
ADMIN_TG_ID=123456789
BOT_TIMEZONE=Asia/Tashkent
PORT=3000
YOUTUBE_API_KEY=your_youtube_data_api_key
JAMENDO_CLIENT_ID=your_jamendo_client_id